*.pac
*.pyc
tmp/
/**/__pycache__/

# 测试相关
/.pytest_cache
/.python-version
/.tox
/.cache
/.coverage
/htmlcov/

*.egg-info
build/
dist/

# Windows
[Dd]esktop.ini
[Tt]humbs.db
$RECYCLE.BIN/

# MacOSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Jetbrains IDE
.idea/
